<!DOCTYPE html>
<html lang="en">
<head>
        <title>BTC - My Books</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <link rel="stylesheet" href="/public/stylesheets/upload.css">
        <link rel="stylesheet" href="/public/stylesheets/dashboard.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/public/javascripts/dashboard.js"></script>
</head>
<body>

        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/dashboard">Book Trading Club</a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                      <li><a href="/dashboard">Dashboard</a></li>
                      <li><a href="/dashboard/mybooks">My Books</a></li>
                      <li><a href="/dashboard/reqByMe">Requested by Me</a></li>
                      <li><a href="/dashboard/reqToMe">Requested to Me</a></li>
                      <li class="active"><a href="/dashboard/myProfile">My Profile</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                  </div>
                </div>
              </nav>

              <div class="jumbotron dashboard-title">
                <div class="container text-center">
                  <h1 id="dashboard-page-title"><%= user.first_name %> <%= user.last_name %></h1>
                </div>
              </div>

              <!-- Page Features -->
              <div class="rowup text-center">
                <div id="login-container">
                    <div id="login-box"></div>
                    <form id="login-form" action="">
                        <span class="profile-label">First Name: <%= user.first_name %></span>
                        <span class="profile-label">Last Name: <%= user.last_name %></span>
                        <span class="profile-label">E-mail: <%= user.email %></span>
                        <span class="profile-label">Langara ID:  <%= user.langara_id %></span>
                    </form>
                </div>
              </div>

              <footer class="container-fluid text-center footer">
                <p>Copyright © Book Trading Club 2018</p>
              </footer>

</body>
</html>
